# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Olivier Jacques on DevOps and ChatOps
email: ojacques2@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Olivier Jacques on DevOps and ChatOps.
baseurl: #/blog
url: https://www.olivierjacques.com
#url: http://localhost:4000
twitter_username: ojacques2
github_username: ojacques
github: ojacques
minimal_mistakes_skin: default
search: true
repository: ojacques/ojacques.github.io

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Olivier Jacques"
  avatar : "/assets/images/bio-photo.jpg"
  bio    : "Helping companies to adopt DevOps through DevOps Dojos. Less talking, more doing."
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://www.olivierjacques.com"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/ojacques2"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/ojacques"

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/ojacques2"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/ojacques"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

analytics:
  provider               : "google-universal" # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          : UA-101261404-1